.ExtraInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 700px;
    border-radius: 25px;
    background: #96e2f0;
  }
  
  #in_txt_1,
  #in_txt_2, 
  #out_txt_1,
  #out_txt_2{
    align-self: center;
    min-height: 50px;
    max-width: 360px;
    width: 360px;
  }
  